
body {
    padding: 0;
    margin: 0;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Patua One", cursive;
}



.card_container{
    margin-top: 20%;
}

.card{
background-color: rgba(0, 0, 0, 0.6);
display: flex;
box-shadow: 0 0 7px #000;
padding: 5px;
border-radius: 3%;
}
.rounded-start{
    border: 2px solid #b39696;
    box-shadow: 0 0 7px #666;
    width: 320px;
    display: flex;
    justify-content: left;
    border-radius: 4%;
}
.card-body{
    margin-top: 10%;
    display: grid;
    justify-content: center;
    text-align: center;
}
p{
    color: #dbd5d5
}
.btn_container{
    display: flex;
    justify-content: right;
}
.btn{
    width: 120px;
}